<div>
    <form class="container">
        <div class="row">
            <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Market Receipt Form</h3>
            
            <!--<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <i>Market Name Here</i>
            </p>-->                
        </div>

        <p class='formNote'>*To view details click the row title.</p>

        <div class="row"><market-selection data="allData.market" addressed="validations.market"></market-selection></div>
        <div class="row"><employee-selection data="allData.employee" addressed="validations.employee"></employee-selection></div>
        <div class="row"><date-selection data="allData.date" addressed="validations.date"></date-selection></div>
        <div class="row"><sales data="allData.sales" addressed="validations.sales"></sales></div>
        <div class="row"><rent data="allData.rent" addressed="validations.rent"></rent></div>
        <div class="row"><pay data="allData.pay" addressed="validations.pay"></pay></div>
        <div class="row"><due data="allData.due" addressed="validations.due"></due></div>
        <!--<div class="row"><image-upload></image-upload></div>-->
        
        <p class='formNote'>*Please make sure all due funds are transfeered to Ah-Nuts within 24 hours.</p>
        
        <div class="row"><submit-btn state='submitBtn.classes' submit='submitNow'></submit-btn></div>
        
    </form>
</div>